<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>212609824178-rommfgrpedjepi2evvgj2bg2lnm42phq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.212609824178-rommfgrpedjepi2evvgj2bg2lnm42phq</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>212609824178-pbe1i47let56vtdp7pa49ffqf2lo5ea9.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAw95EWeWBcm6yLm1eTzv9UR-23YA4m3ew</string>
	<key>GCM_SENDER_ID</key>
	<string>212609824178</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.tccvitor</string>
	<key>PROJECT_ID</key>
	<string>coronavirus-4cf01</string>
	<key>STORAGE_BUCKET</key>
	<string>coronavirus-4cf01.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:212609824178:ios:3a5da99aeb17cf0a46e0ab</string>
	<key>DATABASE_URL</key>
	<string>https://coronavirus-4cf01.firebaseio.com</string>
</dict>
</plist>